<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <% if current_user.image.present?  %>
          <%= image_tag current_user.image.url(:medium), class: 'img-circle' %>
        <% else %>
          <i class="fa fa-user fa-3x"></i>
        <% end %>
      </div>
      <div class="pull-left info">
        <p><%= current_user.name %></p>        
      </div>
    </div>
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>
      <li class="#">
        <a href="<%= dashboard_url %>">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
      </li>

      <li class="treeview <%= 'hidden' unless (has_permission?('user') || has_permission?('usertype')) %>">
        <a href="javascript:void(0)">
          <i class="fa fa-gears"></i>
          <span>Administration</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="<%= 'hidden' unless has_permission?('user') %>"><a href="<%= users_url %>"><i class="fa fa-circle-o"></i> Manage Users</a></li>
          <li class="<%= 'hidden' unless has_permission?('usertype') %>"><a href="<%= user_types_url %>"><i class="fa fa-circle-o"></i> User Type</a></li>
        </ul>
      </li>

      <li>
        <a href="<%= password_changes_url %>">
          <i class="fa fa-key"></i> <span>Change Password</span>
        </a>
      </li>

      <li>
        <a class="<%= 'hidden' unless has_permission?('ticket') %>" href="<%= tickets_url %>">
          <i class="fa fa-book"></i> <span>Tickets</span>
        </a>
      </li>

      <li>
        <a class="<%= 'hidden' unless has_permission?('dashboard') %>" href="<%= reports_url %>">
          <i class="fa fa-wpforms"></i> <span>Reports</span>
        </a>
      </li>

    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
