<div class="row">
  <!-- left column -->
  <div class="col-md-12 col-xs-12">
    <!-- general form elements -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title"><%= @user.name%>'s Profile</h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <div class="box-body">

        <div class="col-md-4 col-xs-4">
          <div class="form-group">
            <%if @user.image.present? %>
              <%= image_tag @user.image.url(:large), class: 'img-responsive' %>
              <p class="help-block"><%= @user.name %>'s photo</p>
            <% else %>
              <%= 'No image is uploaded yet !' %>
            <% end %>
          </div>

        </div>

        <div class="col-md-4 col-xs-4">
          <div class="form-group">
            <label for="user_full_name">Full name</label>
            <span class="form-control"><%= @user.name %></span>
          </div>
          <div class="form-group">
            <label>User Type</label>
            <span class="form-control"><%= @user.user_type_name.upcase %></span>
          </div>

          <div class="form-group">
            <label for="user_email">Email</label>
            <span class="form-control" ><%= @user.email %></span>
          </div>       
        </div>

        <div class="col-md-4 col-xs-4">

          <div class="form-group">
            <label for="user_username">Username</label>
            <span class="form-control"><%= @user.username %></span>
          </div>          

          <div class="form-group">
            <label for="user_pin_number">Published</label>
            <span class="form-control"><%= @user.published %></span>
          </div> 

          <div class="form-group">
            <label for="user_profession">Profession</label>
            <span class="form-control"><%= @user.profession %></span>
          </div>        

        </div>
      </div>
      <!-- /.box-body -->
      <div class="modal-footer">
        <% if has_permission?('edit') %>
          <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-primary' %>
        <% end %>
        <%= link_to 'Back', users_path, class: 'btn btn-default' %>
      </div>

    </div>
    <!-- /.box -->

  </div>
</div>
