  <div class="row">
  <!-- left column -->
  <div class="col-md-12 col-xs-12">
    <!-- general form elements -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">
          <% if  request.original_url == new_user_type_url %>
              <%= 'New User Type' %>
          <% else %>
              <%= 'Editing User Type' %>
          <% end %>
        </h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <%= form_with(model: user_type, local: true) do |f| %>
          <div class="box-body">            
            <div class="form-group">
              <%= f.label :name %>
              <%= f.text_field :name, required: 'require', class: 'form-control', placeholder: 'Name' %>
            </div>
            <label>Permissions</label>
            <%= f.fields_for :permission do |permission| %>
              <div class="checkbox">
                <label><%= permission.check_box :dashboard %>Dashboard</label>                
              </div>
              
              <label>Administrative Permission</label>
              <div class="checkbox">
                <label><%= permission.check_box :usertype %> User Type</label>
                <label><%= permission.check_box :user %>Users</label>                
              </div>
              
              <label>Action Permission</label>
              <div class="checkbox">
                <label><%= permission.check_box :add %> Add</label>
                <label><%= permission.check_box :edit %>Edit</label>
                <label><%= permission.check_box :remove_ability %>Delete</label>
              </div>
            <% end %>

            <div class="checkbox">
              <label>
                <%= f.check_box :published %> Published me
              </label>
            </div>

          </div>
          <!-- /.box-body -->
          <div class="modal-footer">
            <%= f.submit 'Submit', class: 'btn btn-primary' %>
            <%= link_to 'Back', user_types_path, class: 'btn btn-default' %>
          </div>
      <% end %>
    </div>
    <!-- /.box -->
  </div>
</div>
