<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="box">
      <div class="box-header">
        <div class=" col-md-6 col-xs-6">
          <h3 class="box-title">User List</h3>
        </div>
        <div class="col-md-6 col-xs-6" align="right">
          <a href="<%= new_user_type_url %>" class="btn btn-primary btn-sm <%= 'hidden' unless has_permission?('add') %>" ><i class="fa fa-plus-circle"></i> Add New</a>
          <a href="<%= users_url %>" class="btn btn-primary btn-sm <%= 'hidden' unless has_permission?('user') %>" ><i class="fa fa-users"></i> Users</a>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>Name</th>
            <th>Published</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <% @user_types.each do |type| %>
              <tr>
                <td><%= type.name %></td>
                <td><%= type.published %></td>
                <td>
                  <a href="<%= edit_user_type_path(type) %>" class="btn btn-info btn-flat <%= 'hidden' unless has_permission?('edit') %>" ><i class="fa fa-pencil"></i></a>
                  <a href="<%= user_type_path(type) %>" class="btn btn-success btn-flat" ><i class="fa fa-eye"></i></a>
                  <a data-confirm="Are you sure?" class='btn btn-danger btn-flat <%= 'hidden' unless has_permission?('remove_ability') %>' rel="nofollow" data-method="delete" href="<%= user_type_path(type) %>"><i class="fa fa-trash-o"></i></a>
                </td>
              </tr>
          <% end %>
          </tbody>
          <tfoot>
          <tr>
            <th>Name</th>
            <th>Published</th>
            <th>Actions</th>
          </tr>
          </tfoot>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->